* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}


/* HEADER */

header {
    background-color:#042326;
}

nav {
    margin: auto;
    /* background-color: rgb(37, 51, 51); */
    background-color: #042326;
    max-width: 1000px;
    line-height: 50px;
    color: white;
}

nav h1 {
    text-align: center;
    font-size: 3rem;
}

nav ul, li {
    display: inline-block;
    margin: 0 6px 0 6px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0 5px 0 5px;
}

nav a:hover {
    display: block;
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 0 5px 0 5px;
    background-color: #253333;
}

/* BODY */

body {
    background-color: #253333;
}

main {
    color: white;
    margin: auto;
    max-width: 1000px;
    margin-top: 15px;
}

main h2{
    font-size: 2rem;
    margin-bottom: 15px;
}

main p{
    font-size: 1.35rem;
    text-align: justify;
}

.container {
    display: flex;
    margin: 40px 0;
}

.info {
    width: 50%;
    padding: 10px;
}

.ilustra {
    width: 50%;
    padding: 10px;
    margin: auto 0px;
}

.ilustra img{
    width: 100%;
}

main img{
}

#exp, #ref {
    margin-top: 40px;
}

#ref {
    text-align: center;
    margin-bottom: 60px;
}


/* FOOTER */

div a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

footer {
    height: 150px;
    background-color:#042326;
    line-height: 50px;
    color: white;
    text-align: center;
}

footer img{
    border-radius: 50%;
    background-color: white;
}